/* 05_master.css */

/****** COMMON *****************************************/

*{
	margin: 0;
	padding: 0;
}
body{
	font: 14px; "돋움", Dotum;
	color: #000;
}

/***** LATOUT **************/
body{
	width: 1400px;
	border: 2px solid red;
	margin-left: auto;
	margin-right: auto;
}

/******* HEADER AREA *********/
#main_header{
	width: 100%;
	background-color: #BEFFC1;
}


/****** CONTENTS AREA **********/
#wrap{
	width: 100%;
	background-color: #F8A96B;
	overflow: hidden; /*자식공간만큼 자리잡기*/
}
	#side_nav{
		float: left; /*왼쪽고정*/
		width: 300px;
		border: 2px solid yellow;
	}
	#contents{
		float: right; /*오른쪽고정*/
		width: 1080px;
		border: 2px solid blue;
	}
/****** FOOTER AREA **********/
#main_footer{
	width: 100%;
	background-color: #D561FB;
}