/*06_master.css*/

/**** COMMON ****/
*{
	margin: 0;
	padding: 0;
}
body{
	font: 14px "돋움", Dotum, sans-serif;
	color: #000;
}
h2, h3{
	font-size: 14px;
	font-weight: normal;
}

/**** SECTION AREA ****/
#contents{
	float: right;
	width: 1080px;
	border:2px solid orange;
}
/**** 콘텐츠 제목****/
	.con_title{
		font-size: 28px;
		text-align: center;
		border-bottom: 3px solid pink;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}
/**** 콘텐츠 박스 ****/

.con{
	float: left;
	width: 250px;
	height: 200px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: beige;
}
	.m_b_10{
		margin-bottom: 10px;
	}
		.con >h3{
			margin: 5px;
			font-size: 20px;
			border-bottom: 2px solid red;
		}
		.con > div{
			margin: 10px;
		}