/* header_style_mobile.css */

#main_header{
	width: 100%;
	height: 50px;
	background: #fff;
	border-bottom: 2px solid #999;
	position: relative;
}

	/** 로고 **/
	#main_header > h1.logo{
		position: absolute;
		left: 50%; 
		/*top: 50%;
		transform: translateX(-50%) translateY(-50%);*/
		top: 8px;
		margin-left: -80px;
	}
		#main_header > h1.logo > a{
			width: 160px;
			height: 35px;
			background: url(http://placehold.it/160x35);
			text-indent: -6000px; overflow: hidden;
		}

	/** 메뉴 햄버거 버튼 **/
	label.toggle_menu{
		width: 35px; height: 35px;
		background: #dfdfdf;

		position: absolute;
		left: 5px; top: 8px;
	}
		label.toggle_menu::before,
		label.toggle_menu::after{
			content:"";
			display: block;
			width: 31px;
			height: 3px;
			background: #999;

			position: absolute;
			left: 2px; top: 16px;
		}
		label.toggle_menu::after{
			transform: rotateZ(90deg);
			transition-duration: 0.3s;
		}
		input#toggle_menu:checked + #wrap label.toggle_menu::after{
			transform: rotateZ(0deg);
		}

	/** 검색 버튼 및 검색폼 **/
	label.toggle_search{
		width: 35px; height: 35px;
		background: url(http://placehold.it/35x35);
		text-indent: -6000px; overflow: hidden;

		position: absolute;
		right: 5px; top: 8px;
	}
	input#toggle_search:checked + label.toggle_search{
		background: pink;
	}

	#search_wrap{
		width: 100%; height: 0;
		background: rgba(0,0,0,0.3);

		position: absolute;
		top: 50px; right: 0;

		box-sizing: border-box;
		padding: 0 5px;

		overflow: hidden;
		transition-duration: 0.3s;
	}
	input#toggle_search:checked + label.toggle_search + #search_wrap{
		height: 45px;
	}
	@media screen and ( min-width: 768px){
	#search_wrap{
		width: 500px;
	}
	}
		#search_wrap fieldset{}
			#search_wrap fieldset > input{}
			input#search_txt{
				background: #fff;
				width: 100%; height: 35px;
				box-sizing: border-box;
				padding-left: 10px;
				padding-right: 45px;
				margin-top: 5px;
			}
			input#search_btn{
				position: absolute;
				right: 5px; top: 5px;
			}