/* bbs_table_style.css */
@import url(common.css);

#board_wrap{
	width: 690px;
	margin: 50px;
}

/** 검색 **/
#search_form{ 
	width: 100%;
	margin-bottom :10px;
}
#search_form > form{ 
	width: 100%;
	overflow: hidden;
}
#search_form fieldset{ 
	float: right;
	margin-top: 31px;
	margin-right: 10px;
}

	#search_form label{
		float: left;
		margin-top: 7px;
	}
	input#search_txt{
		float: left;
		width: 133px
		height: 19px;
		box-sizing: border-box;
		border: 1px solid #d1d1d1;
		background-color: #fff;
		margin: 0 4px;
	}
	input#search_btn{
		float: left;
	}

/** 게시판 **/
#board width: 100%;{}
#board > table{ 
	width: 100%;
}
	#border thead{
		
	}
		#board thead > tr{
			height: 37px;
			background: url(../images/bar_dark_bg.gif) repeat-x;
		}
		#board > thead > tr > th{
			color: #61b96f;
			font-weight: 800;
		}
			#board thead > tr > th.no > p{
				height: 34px;
				border-left: 3px solid #5db062;
				margin-bottom: 3px;
				line-height: 37px;
			}
			#board thead > tr > th.hit > p{
				height: 34px;
				border-right: 3px solid #5db062;
				margin-bottom: 3px;
				line-height: 37px;
			}
	#board tbody{}
		#board tbody > tr{
			height: 28px;
			border-bottom: 1px solid #e6e6e6;
		}
			#board tbody > tr > td{
				color: #666;
				text-align: center;
			}
			#board tbody > tr > td > a{
				color: #666;
				text-align: left;
			}
			#board tbody > tr > td.date,
			#board tbody > tr > td.hit{
				color: #61b96f;
			}
			#board tbody > tr > td.hit{
				font-weight: 800;
			}
	#board tfoot{
		
	}
		#board tfoot > tr{
			height: 32px;
			background: url(../images/bbsBottomBg.gif) repeat-x;
		}
			#board tfoot > tr > td{
				text-align: center;
			}
				#board tfoot > tr > td > a{
					display: inline;
					color: #cecece;
				}
				#board tfoot > tr > td > a.active{
					color:#555;
				}
				#board tfoot > tr > td > span{
					color: #cdcdcd;
				}