/*10_3_float*/

*{ margin: 0; padding: 0;}

/*스스로 한 방법*/
#wrap{
	width: 800px;
	border: 2px solid red;
	margin: 0 auto; /*가운데 정렬*/
}
	/*#side-a{
		width: 165px;
		background-color: skyblue;
		float: left;
	}
	#side-b{
		width: 140px;
		background-color: blue;
		float: right;
	}
	#contents{
		width: 485px;
		background-color: green;
		margin-right: 5px;
		clear: none;
		float: right;
	}
	#footer{
	background-color: purple;
	float: bottom;
	clear: both;
	}*/

	/*선생님 방법*/
	#wrap{
	width: 800px;
	border: 2px solid red;
	margin: 0 auto; /*가운데 정렬*/
}
	#side-a{
		width: 165px;
		background-color: skyblue;
		float: left;
	}
	#side-b{
		width: 140px;
		background-color: blue;
		float: right;
	}
	#contents{
		margin-left: 170px;
		margin-right: 145px;
		background-color: green;
	}
	#footer{
	background-color: purple;
	}